$brandRed              : #D7292A;
$brandOrange           : #CB6E28;
$brandGold             : #D1A32C;
$brandBlue             : #004664;
$brandGray             : #939598;
$borderColor           : $brandGray;
$white                 : #FFF;
$black                 : #000;
$gray-dark             : #333;

$primary               : $brandRed;
$secondary             : $brandOrange;

$jaguar-tech           : #0079C6;

$grid-breakpoints      : (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
$screen-fullhd         : 1600px;
$screen-height-desktop : 800px;