@import "color";

div#campBloc {
  margin : 2rem 0 1rem;
  ul {
	li {
	  width         : 100%;
	  margin        : 0 0 .5rem 0;
	  padding       : 1rem 0;
	  border-bottom : 1px solid #999;
	  color         : #444;
	  label {
		clear       : both;
		display     : block;
		font-weight : bold;
	  }
	}
  }
}