@import "color";

section#registration {
  pre {
	display : none;
  }
  div#tabDayCare, div#tabTheaterSchool, div#tabArtCamp, div#tabDayCamp {
	div.fullReg {
	  //border           : 3px solid $primary;
	  position         : absolute;
	  width            : 100%;
	  height           : 100%;
	  z-index          : 100;
	  background-image : linear-gradient(180deg, rgba(255, 255, 255, .4) 0%, #FFF 90%);
	  span {
		font-weight : bold;
		color       : $primary;
		margin-top  : 4rem;
		font-size   : 2rem;
		text-align  : center;
		display     : block;
	  }
	}
	ul {
	  &.campChoice {
		li {
		  width         : 100%;
		  margin        : 0 0 .5rem 0;
		  padding       : 1rem 0;
		  border-bottom : 1px solid #999;
		  position      : relative;
		  input[type=checkbox], label {
			display : inline;
		  }
		  input[type=checkbox] {
			margin-right : .5rem;
		  }
		  label {
			color       : #000;
			font-weight : bold;
		  }
		  div {
			&.campDate {
			  color : #444;
			}
			&.fullReg {
			  background-image : linear-gradient(180deg, rgba(255, 255, 255, .4) 0%, rgba(215, 215, 215, .8) 80%, #FFF 100%);
			  //  border-bottom    : 1px solid #000;
			  span {
				font-size  : 1.25rem;
				margin-top : 1.5rem;
			  }
			}
		  }
		}
	  }
	}
	h3, h4 {
	  clear : both;
	}
	h4, h5, form {
	  margin : 2rem 0 .5rem;
	}
	form {
	  div.transactionSummary {
		ul {
		  li {
			display : inline-block;
			margin  : 0 .5rem 0 0;
			label {
			  font-weight : bold;
			  &:after {
				content : ":"
			  }
			}
			span {
			  color : #000;
			}
		  }
		}
	  }
	  div.paymentOption {
		ul {
		  padding : 0;
		  margin  : 0;
		  li {
			display : inline-block;
			margin  : 0 .5rem 0 0;
		  }
		}
	  }
	  div#paymentModeWrapper {
		&.hidden {
		  display : none;
		}
	  }
	  div.creditForm {
		display : none;
	  }
	}
  }
  form {
	div#regClause {
	  margin : 0;
	  div {
		margin : 0 0 .2rem 0;
	  }
	}
  }
}